@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

* {
  /* to make sure that elements have default margins or padding applied by the browser. 
    This make the layout more consistent across different browsers */
  margin: 0;
  padding: 0;
  /* Font family can be change once we decided what consistent font to use for all html */
  font-family: "Playfair Display", serif;
  /* box-sizing: border-box; is used to include the padding and border in an element's total width and height
    so that it doesnt overflow */
  box-sizing: border-box;
  font-optical-sizing: auto;
}

/* The below code is for the navigation bar */

#top {
  /* top and bottom will be 20px, left and right will be 10% of the width of the parent element */
  padding: 10px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Color of the background element */
  background-color: #e2e0d1;
  height: 75px;
}

#sticky_nav {
  /* make the navigation bar follow along when scolling down */
  position: sticky;
  /* make the navigation bar be at the top of the page */
  top: 0;
  /* z-index is used to make sure that the overlay is on top of the other elements */
  z-index: 9999;
  background-color: #f7f6eb;
  border-bottom: 2px solid #000;
  /* adjust as needed */
  border-top: 2px solid #000;
}

#navigation_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo li h1 {
  /* Size of the name of the hotel */
  font-size: 30px;
  text-transform: uppercase;
}

.logo li {
  /* Singapore text undeneth the name of hotel */
  font-size: 15px;
}

.logo__name {
  /* Remove the bullet point */
  list-style: none;
}

.navbar {
  /* Make the ordered list horizontol */
  display: flex;
  /* The space inbetween logo and this element */
  margin: 2px;
  list-style-type: none;
  /* Even space between each navbar item */
  justify-content: space-around;
  width: 100%;
}

#top .navbar li {
  /* The space inbetween the ordered items */
  margin: 0px 20px;
  font-weight: bold;
}

#navigation_bottom .navbar li {
  padding: 10px 0;
  font-weight: bold;
}

.navbar_item a:not(#current-page):hover {
  /* The color of the link when hovered */
  color: rgb(93, 92, 92);
  /* Increase the size of the link when hovered */
  transform: scale(1.1);
}

.navbar_item a,
.logo li h1 a {
  /* Remove the underline of the link */
  text-decoration: none;
  /* The color of the link */
  color: black;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s;
}

.logo li h1 a:hover {
  color: rgb(93, 92, 92);
}

#hamburger_menu {
  display: none;
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 2px solid black;
  }

  #top {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  #sticky_nav {
    position:fixed;
    border-top: none;
    z-index: 100;
  }

  .animate-slide-down {
    animation: slide-down 0.3s forwards;
  }

  @keyframes slide-down {
    0% {
      position: fixed;
      top: -432px;
    }

    100% {
      top: 80px;
      position: fixed;
    }
  }

  #navigation_top {
    display: none;
  }

  #hamburger_menu {
    display: block;
  }

  #hamburger_menu a {
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
    padding: 0 8px 2px 8px;
    position: absolute;
    left: 10px;
    top: 20px;
    transition-duration: 0.5s;
    border-radius: 50%;
  }

  #hamburger_menu a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  #top .navbar {
    display: flex;
    flex-direction: row;
  }

  #top .navbar li {
    padding: 10px 15px;
  }

  #top .navbar li,
  #navigation_bottom .navbar li {
    margin: 10px 0;
  }

  #navigation_bottom .navbar li {
    padding: 0;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  #navigation_bottom {
    display: none;
    width: 100vw;
  }

  #new_item1 a,
  #new_item2 a {
    color: rgb(63, 38, 38);
  }

  #new_item1 a {
    border-top: 1.5px solid black;
    padding-top: 15px;
    width: 20vw;
    text-align: center;
  }

  .navbar_item a:not(#current-page):hover {
    /* The color of the link when hovered */
    color: rgb(160, 160, 160);
    /* Don't increase the size of the link when hovered */
    transform: none;
  }

  #darken {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
  }
}

#current-page {
  color: rgb(164, 163, 163);
}

/* End of Nav */

/* Start of footer*/
footer {
  background-color: #333;
  color: white;
  padding-top: 10px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.contact-info,
.social-media,
.quick-links {
  width: 30%;
  flex: 1;
}

.social-media h1 {
  font-size: 1.2em;
  width: 15%;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.contact-info h1 {
  font-size: 1.2em;
  width: 40%;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.quick-links h1 {
  font-size: 1.2em;
  width: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.quick-links li {
  list-style: none;
  color: white;
}

.quick-links li a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s;
}

.social-media a,
.contact-info p {
  text-decoration: none;
  padding: 3px 0px;
  display: flex;
  width: 30%;
  color: white;
  font-size: 0.9em;
  transition: color 0.3s ease, transform 0.3s;
}

footer .social-media i {
  padding-top: 5px;
  padding-right: 10px;
}

footer .footer-end {
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e2e0d1;
}

footer .social-media a:hover,
footer .quick-links li a:hover {
  /* The color of the link when hovered */
  color: rgb(93, 92, 92);
  /* Increase the size of the link when hovered */
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {

  .contact-info,
  .social-media,
  .quick-links {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .contact-info h1,
  .social-media h1,
  .quick-links h1 {
    font-size: 1em;
    width: 83%;
  }

  .contact-info p,
  .social-media .icons {
    font-size: 0.7em;
    width: 83%;
  }

  .social-media a {
    width: 100%;
  }

  .quick-links li {
    font-size: 0.8em;
  }

  footer .footer-end {
    font-size: 0.7em;
  }
}

/*End of Footer*/