.video-container, .our-history .img-container {
  position: relative; /* This container become the reference point for the child container */
  width: 100%; /* This will make the video cover the whole area */
  overflow: hidden; /* This will hide the overflowing content */
}

.video-container::after, .our-history .img-container::after {
  content: ""; /* This will create a pseudo-element */
  position: absolute; /* the reference point is the parent container */
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0,0,0,0.6); /* adjust the last value to change the opacity */
}

video, .our-history img {
  /* Set the size of the video */
  width: 100%;
  height: auto; /* vh stands for viewport height */
  object-fit: cover; /* This will cover the whole area without distorting the aspect ratio */
  display: block; /* This will remove the default space below the video */
}

.overlay-text {
  position: absolute;
  /* used to center the text both vertically and horizontally */
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* This will center the text by moving left by 50% of its own width and up by 50% of its own height */
  color: #e2e0d1;
  z-index: 1; /* make sure the text is on top of the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-text h1 {
  font-size: 70px;
  padding-bottom: 10px;
}

.overlay-text h2 {
  font-size: 20px;
  padding-bottom: 25px;
  color: #e2e0d1;
}

.overlay-text p {
  font-size: 19px;
  color: white;
}

@media screen and (max-width: 768px) {

  .overlay-text{
    width:100%;
  }

  .overlay-text h1 {
    font-size: 8vh; /* adjust this value as needed */
    padding-bottom: 1px; /* adjust this value as needed */
  }

  .overlay-text h2 {
    font-size: 2.5vh; /* adjust this value as needed */
    padding-bottom: 10px; /* adjust this value as needed */
  }

  .overlay-text p {
    font-size: 2.7vh; /* adjust this value as needed */
    width: 70%;
  }
}

/* The code below is for main element*/
main {
  background-color: #e2e0d1;
}

/* The code below is for the expereince section element */

.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  text-align: center;
}

.experience h1{
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  padding-top: 20px;
}

.experience p{
  padding-top: 20px;
  width: 60%;
}

.experience .option p{
  width: 100%;
  padding: 10px 0px;
}

.experience .option h3{
  font-size: 1.5em; /* adjust accordingly to the parent element font-size */
  font-weight: bold;
  padding-top: 10px;
}

.experience-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.option {
  width: 25%;
  min-width: 300px;
  padding: 0;
  margin: 40px;
}

.experience-img {
  width: 100%;
  height: 55%;
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .experience p {
    width: 80%;
    padding: 0px;
  }

  .option {
    width: 100%;
    margin: 0px;
    margin-top: 20px ;
  }

  .experience-img {
    width: 70%;
  }

  .experience h1{
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
  }

  .experience p{
    font-size: 0.9em;
  }

  .experience .option-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
  }

  .experience .option-text h3{
    font-size: 2em;
  }

  .experience .option-text p{
    font-size: 1em;
    width: 90%;
    padding-bottom: 10px;
  }

  .experience .option-text a{
    font-size: 0.8em; 
  }
}

/* End of Experience Section */

/* The code below is for the suites section element */

.suites, .events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}

.suites-content {
  display: flex;
  align-items: center;
  padding: 90px 0;
}

.suites-content img {
  max-width: 50%;
  height: auto; /* maintain the image's aspect ratio */
  padding-left: 10%; /* scale the image to cover the container while maintaining its aspect ratio */
  object-fit: cover;
}

.suites-text {
  min-height: 400px;
  width: 40%;
  padding-left: 100px; /*to add some space between the image and the text */
}

.suites-text h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.suites-text h4 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 20px;
  font-style: italic;
}

.suites-text p {
  font-size: 1em;
  padding-bottom: 30px;
}

.suites-text a,.events-text a, .option a{
  color: #3d4a48;
  border-bottom: 1px solid #0c1f1e33;
  padding-bottom: 4px;
  text-decoration: none;
  transition: all 0.3s linear;
  display: inline-block;
}

.suites-text a:hover,.events-text a:hover, .option a:hover{
  color: black;
  border-bottom: 1px solid #3d4a48;
  transform: scale(1.1);
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {

  .suites-content {
    align-items: normal;
  }

  .suites-content img {
    padding: 0 3vh;
    width: 100%;
  }

  .suites-text {
    width: 60%;
    padding-left: 10px;
  }

  .suites-text h2 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .suites-text h4 {
    font-size: 0.9em;
  }
}

/* End of Suites Section */

/* The code below is for the about us section element */

.our-history #history-img-container::after {
  height: 90vh;
}

.our-history img {
  height: 90vh;
}

.our-history #history-text p{
  width: 500px;
}

.readmore-button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  padding: 8px 20px;
  border:1px solid white;
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
  margin-top: 50px;
}

.readmore-button:hover {
  color:rgb(139, 139, 139);
  background-color:rgb(236, 230, 223);
}


/* CSS for smaller screens */
@media screen and (max-width: 900px) {
 .our-history #history-text h1{
  font-size: 2em;
 }
 
  .our-history #history-text h2{
    font-size: 1em;
  }
}

/* Smooth Flow */
.suites, .our-history, .experience{
  animation: fadein linear; /* fadein is the name of the animation and linear is the timing fucntion, so constant speed*/
  animation-timeline: view(); /* view() is the name of the timeline where it is the animation is tied to the view or scoll position */
  animation-range-start: cover;  /* cover is the starting point of the animation, animation should start as soon as the element is fully in view */
  animation-range-end: 500px; /* 500px is the end point of the animation, animation should end when the element is 500px out of view */
}

@keyframes fadein{
  from {scale: 0.7; opacity: 0;}
  to { scale: 1; opacity: 1;}
}
